<section class="list">
  <div class="list-contents">
    <a
      class="list-contents__unit"
      href="https://www.s-shiko.co.jp/"
      target="_blank"
    >
      <img
        class="list-contents__img"
        src="assets/img/sponsorship-list_01.jpg"
      />
    </a>
    <a
      class="list-contents__unit"
      href="https://www.theguild.jp/"
      target="_blank"
    >
      <img
        class="list-contents__img"
        src="assets/img/sponsorship-list_02.jpg"
      />
    </a>
    <a
      class="list-contents__unit"
      href="https://student.redesigner.jp/"
      target="_blank"
    >
      <img
        class="list-contents__img"
        src="assets/img/sponsorship-list_03.jpg"
      />
    </a>

    <a
      class="list-contents__unit"
      href="https://artschool-u.com/"
      target="_blank"
    >
      <img
        class="list-contents__img"
        src="assets/img/sponsorship-list_04.jpg"
      />
    </a>

    <a class="list-contents__unit" href="https://lifull.com/" target="_blank">
      <img
        class="list-contents__img"
        src="assets/img/sponsorship-list_05.jpg"
      />
    </a>

    <a class="list-contents__unit" href="https://irify-ip.com/" target="_blank">
      <img
        class="list-contents__img"
        src="assets/img/sponsorship-list_06.jpg"
      />
    </a>

    <a
      class="list-contents__unit"
      href="https://www.cyberagent.co.jp/"
      target="_blank"
    >
      <img
        class="list-contents__img"
        src="assets/img/sponsorship-list_07.jpg"
      />
    </a>

    <a
      class="list-contents__unit"
      href="https://biotope.co.jp/"
      target="_blank"
    >
      <img
        class="list-contents__img"
        src="assets/img/sponsorship-list_08.jpg"
      />
    </a>

    <a
      class="list-contents__unit"
      href="https://note.com/kyoso_design_lab"
      target="_blank"
    >
      <img
        class="list-contents__img"
        src="assets/img/sponsorship-list_09.jpg"
      />
    </a>
  </div>
</section>
