<div class="visitor-explain-01">
  <img
    class="visitor-explain-01__title"
    src="assets/img/caution-visitor_section-title-01.svg"
    alt="1. 来場方法"
  />
  <div class="visitor-explain-01__text-block">
    <p class="visitor-explain-01__text">
      会場の過密を防ぐため、入場制限を実施します。
    </p>
    <p class="visitor-explain-01__text">
      事前予約：なるべく事前予約の上、ご来場ください。予約サイトはこちら
    </p>
  </div>
</div>
