<div class="visitor-explain-02__sp">
  <img
    class="visitor-explain-02__title"
    src="assets/img/caution-visitor_section-title-02.svg"
    alt="2. 契約事項"
  />
  <div class="visitor-explain-02__text-block">
    <p class="visitor-explain-02__text visitor-explain-02__underline">
      １つでも当てはまる方は入場をできません
    </p>
    <ul>
      <li class="visitor-explain-02__text">37.5度以上の発熱がある</li>
      <li class="visitor-explain-02__text">頭痛、強いだるさや息苦しさがある</li>
      <li class="visitor-explain-02__text">
        風邪のような症状がある（咳、鼻水、喉の痛み等）
      </li>
      <li class="visitor-explain-02__text">味覚・臭覚に異常を感じる</li>
      <li class="visitor-explain-02__text">
        過去14日以内に家族等の同居人が新型コロナウイルスに罹患した（疑う症状がある）
      </li>
      <li class="visitor-explain-02__text">
        過去14日以内に罹患者、罹患した疑いのある者との濃厚接触がある
      </li>
      <li class="visitor-explain-02__text">
        過去14日以内の渡航歴（流行地域）がある
      </li>
      <li class="visitor-explain-02__text">
        上記7項目の症状、事象が過去14日以内にある
      </li>
    </ul>
  </div>
</div>
