<div class="visitor-explain-03">
  <img
    class="visitor-explain-03__title"
    src="assets/img/caution-visitor_section-title-03.svg"
    alt="3. お願い"
  />
  <div class="visitor-explain-03__text-block">
    <p class="visitor-explain-03__text">
      ご来場の際は、マスクの着用をお願いいたします。
    </p>
    <!-- <p class="visitor-explain-03__text">入館時に検温を実施します。</p> -->
    <p class="visitor-explain-03__text">
      入退館の際は、必ず手の消毒をお願いいたします。
    </p>
    <p class="visitor-explain-03__text">
      会場内の大きな声での会話はお控えください。
    </p>
    <p class="visitor-explain-03__text">
      他の来場者の方への咳エチケットにご協力ください。
    </p>
    <p class="visitor-explain-03__text">
      ご鑑賞の際は、お互いに他の来場者の方との距離を保ってください。
    </p>
  </div>
</div>
