<div class="visitor-explain-ex">
  <div class="visitor-explain-ex__text-block">
    <p class="visitor-explain-ex__text">会場への来場は東門をご活用ください。</p>
    <p class="visitor-explain-ex__text">
      駐車駐輪スペースはございません。会場へは電車やバス等の公共交通機関をご利用ください。
    </p>
    <p class="visitor-explain-ex__text">会場内は禁煙です。</p>
    <p class="visitor-explain-ex__text">
      展示室内では飲食禁止です。飲食される場合は休憩スペースをご利用ください。
    </p>
    <p class="visitor-explain-ex__text">
      写真撮影やビデオ撮影は各作品のキャプションをご確認ください。
    </p>
    <p class="visitor-explain-ex__text">
      基本的に作品の接触は禁止です。可能な作品はキャプションをご確認ください。
    </p>
  </div>
</div>
