<div class="visitor-explain-img">
  <div class="visitor-explain-img__colm">
    <img
      class="visitor-explain-img__title"
      src="assets/img/caution-visitor_image-title-01.svg"
      alt="来場時"
    />
    <div class="visitor-explain-img__pict">
      <div class="visitor-explain-img__contents">
        <img
          class="visitor-explain-img__icon"
          src="assets/img/caution-staff_pict-02.gif"
          alt="検温"
        />
        <p class="visitor-explain-img__caption">マスクの着用</p>
      </div>
      <div class="visitor-explain-img__contents">
        <img
          class="visitor-explain-img__icon"
          src="assets/img/caution-visitor_pict-05.gif"
          alt="手先の消毒"
        />
        <p class="visitor-explain-img__caption">手先の消毒</p>
      </div>
    </div>
  </div>
  <div class="visitor-explain-img__colm">
    <img
      class="visitor-explain-img__title"
      src="assets/img/caution-visitor_image-title-02.svg"
      alt="鑑賞中"
    />
    <div class="visitor-explain-img__pict-bottom">
      <!-- <div class="visitor-explain-img__contents-bottom">
        <img
          class="visitor-explain-img__icon-bottom"
          src="assets/img/caution-staff_pict-02.gif"
          alt="マスクの着用"
        />
        <p class="visitor-explain-img__caption">マスクの着用</p>
      </div> -->
      <div class="visitor-explain-img__contents-bottom">
        <img
          class="visitor-explain-img__icon-bottom"
          src="assets/img/caution-visitor_pict-06.gif"
          alt="距離の確保"
        />
        <p class="visitor-explain-img__caption">距離の確保</p>
      </div>
      <div class="visitor-explain-img__contents-bottom">
        <img
          class="visitor-explain-img__icon-bottom"
          src="assets/img/caution-visitor_pict-07.gif"
          alt="お静かに"
        />
        <p class="visitor-explain-img__caption">お静かに</p>
      </div>
    </div>
  </div>
</div>
