<div class="visitor-explain-01">
  <img
    class="visitor-explain-01__title"
    src="assets/img/caution-visitor_section-title-01.svg"
    alt="1. 来場方法"
  />
  <div class="visitor-explain-01__text-block">
    <p class="visitor-explain-01__text">会場への来場は南門をご活用ください。</p>
    <p class="visitor-explain-01__text">
      駐車駐輪スペースはございません。会場へは電車やバス等の公共交通機関をご利用ください。
    </p>
  </div>
</div>
