@use 'config/import' as *;

// ネストのテスト
* {
  margin: 0;
  padding: 0;
  width: 100%;
}

.page-wrapper {
  @include content-width;
}

h1 {
  color: $color-text;
}

.hoge-hoge {
  align-items: center;
  background-color: $color-text;
  display: flex;
  height: 200px;
  width: 100%;

  &:hover {
    color: $color-main;
  }
}
