@use "../../config/import" as *;
@use "sass:math";

.book-text {
  margin-top: $m-16;
  @include mq(tb) {
    margin-left: calc((100% - 24px) / 11 * 2 + 24px);
    margin-top: 0;
    width: calc((100% - 24px) / 11 * 6);
  }
  @media screen and (max-width: 375px) {
    margin-top: 0;
  }

  p {
    @include text-style-body_white;

    font-size: 14px;
    margin: 0;
    @include mq(tb) {
      column-gap: $m-24;
      columns: 2;
      margin-top: $m-32;
    }
    @media screen and (max-width: 375px) {
      font-size: 14px;
      margin-top: 16px;
    }
  }
}
