@use "../../config/import" as *;
@use "sass:math";

.book-contents {
  display: flex;
  flex-direction: column;
  @include mq(tb) {
    flex-direction: row;
    height: inherit;
    justify-content: space-between;
  }

  &__text {
    display: flex;
    justify-content: space-between;
    @include mq(tb) {
      flex-direction: column;
      justify-content: normal;
      width: calc((100% - 24px) / 11 * 2);
    }
  }

  &__title {
    width: $m-64;
  }

  &__link {
    padding-top: $m-48;

    img {
      height: 44px;
    }
  }

  &__canvas {
    background-color: $color-white;
    height: 71vw;
    margin-left: get-vw(-31px, 390px);
    margin-right: get-vw(-31px, 390px);
    margin-top: $m-48;
    width: 100vw;
    @include mq(tb) {
      height: 60vh;
      margin: 0;
      width: calc((100% - 24px) / 11 * 9);
    }
  }
}
