@use "../../config/import" as *;
@use "sass:math";

.book {
  @include mq(tb) {
    @include content-width;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: $m-48;
    padding-top: $m-48;
  }

  background-color: $color-hurt;
  display: block;
  height: 100vh;
  mix-blend-mode: difference;
}
