@use "../../config/import" as *;
@use "sass:math";

.book {
  background-color: $color-main;
  display: block;
  height: 100vh;
  padding-bottom: $m-80;
  padding-top: $m-80;
  @include content-width;

  @include mq(tb) {
    display: flex;
    filter: saturate(2);
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: $m-48;
    padding-top: $m-48;
  }
}
