<section class="main">
  <img class="main__hurt" src="assets/img/hurt.svg" alt="ハート" />
  <div class="main__reserve">
    <img
      class="main__time"
      src="assets/img/footer_reserve-time.svg"
      alt=" ̶来̶場̶予̶約̶は̶こ̶ち̶ら̶か̶ら̶"
    />
    <img
      class="main__button"
      src="assets/img/top-access_reserve.svg"
      alt="予約不要になりました！"
    />
  </div>
</section>
