<section class="main">
  <img class="main__hurt" src="assets/img/hurt.svg" alt="ハート" />
  <a class="main__reserve" href="#" target="_blank">
    <img src="assets/img/top-access_reserve.svg" alt="来場予約はこちらから" />
  </a>
</section>
