<section class="main">
  <img class="main__hurt" src="assets/img/hurt.svg" alt="ハート" />
  <a class="main__reserve" href="#" target="_blank">
    <img
      class="main__time"
      src="assets/img/footer_reserve-time.svg"
      alt="予約開始は12/21"
    />
    <img
      class="main__button"
      src="assets/img/top-access_reserve.svg"
      alt="来場予約はこちらから"
    />
  </a>
</section>
