<section class="year">
  <div class="year-contents">
    <a class="year-contents__unit" href="https://integrated.jp/gw23/">
      <img
        class="year-contents__title"
        src="assets/img/archive-year_2023.svg"
        alt="2023"
      />
      <img
        class="year-contents__img"
        src="assets/img/archive-year_img-2023.png"
      />
    </a>
    <a
      class="year-contents__unit"
      href="https://www.tamabi.ac.jp/integrated/exhibit/graduation_22/"
      target="_blank"
    >
      <img
        class="year-contents__title"
        src="assets/img/archive-year_2022.svg"
        alt="2022"
      />
      <img
        class="year-contents__img"
        src="assets/img/archive-year_img-2022.jpg"
      />
    </a>
    <a
      class="year-contents__unit"
      href="https://www.tamabi.ac.jp/integrated/exhibit/graduation_21/"
      target="_blank"
    >
      <img
        class="year-contents__title"
        src="assets/img/archive-year_2021.svg"
        alt="2021"
      />
      <img
        class="year-contents__img"
        src="assets/img/archive-year_img-2021.jpg"
      />
    </a>
    <a
      class="year-contents__unit"
      href="https://www.tamabi.ac.jp/integrated/exhibit/graduation_20/"
      target="_blank"
    >
      <img
        class="year-contents__title"
        src="assets/img/archive-year_2020.svg"
        alt="2020"
      />
      <img
        class="year-contents__img"
        src="assets/img/archive-year_img-2020.jpg"
      />
    </a>
    <a
      class="year-contents__unit"
      href="https://www.tamabi.ac.jp/integrated/exhibit/graduation_19/"
      target="_blank"
    >
      <img
        class="year-contents__title"
        src="assets/img/archive-year_2019.svg"
        alt="2019"
      />
      <img
        class="year-contents__img"
        src="assets/img/archive-year_img-2019.jpg"
      />
    </a>
    <a
      class="year-contents__unit"
      href="https://www.tamabi.ac.jp/pro/g_works/2018/itd/"
      target="_blank"
    >
      <img
        class="year-contents__title"
        src="assets/img/archive-year_2018.svg"
        alt="2018"
      />
      <img
        class="year-contents__img"
        src="assets/img/archive-year_img-2018.jpg"
      />
    </a>
  </div>
</section>
