@use "../../config/import" as *;
@use "sass:math";

.access-link {
  display: flex;
  justify-content: space-between;
  margin-top: $m-24;
  @include mq(tb) {
    align-items: flex-end;
    flex-direction: column;
    justify-content: normal;
    margin-top: -16px;
  }

  img {
    height: 36px;
    padding-top: 16px;
  }
}
