@use "../../config/import" as *;
@use "sass:math";

.access-contents {
  @include mq(tb) {
    display: flex;
    justify-content: space-between;
  }

  &__map {
    border-bottom: 1.5px solid $color-main;
    border-top: 1.5px solid $color-main;
    margin-left: get-vw(-30.8px, 390px);
    margin-right: get-vw(-30.8px, 390px);
    @include mq(tb) {
      border: 1.5px solid $color-main;
      margin: 0;
      width: calc((100% - 24px) / 11 * 8);
    }

    img {
      width: 100%;
      @include mq(tb) {
        filter: saturate(2);
      }
    }
  }

  &__title {
    display: none;
    @include mq(tb) {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      width: calc((100% - 24px) / 11 * 3);
    }

    img {
      width: 32px;
    }
  }
}
