@use "../../config/import" as *;
@use "sass:math";

.access-info {
  width: calc((100% - 24px) / 11 * 9);

  &__event {
    display: flex;
    justify-content: space-between;
    margin-left: -16px;

    ul {
      @include mq(tb) {
        display: flex;
      }

      li {
        @include text-style-body;

        padding-left: 16px;
      }
    }
  }

  &__description {
    p {
      @include text-style-body;

      margin-bottom: 0;
    }
  }

  &__time {
    width: calc((100% - 24px) / 9 * 3);
  }

  &__address {
    width: calc((100% - 24px) / 9 * 6);
  }
}
