@use "../../config/import" as *;
@use "sass:math";

.access-text-block {
  padding-top: $m-32;
  @include mq(tb) {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
  }
  @media screen and (max-width: 375px) {
    padding-top: 24px;
  }
}
