<section class="book js-section">
  <div class="book-contents">
    <div class="book-contents__text">
      <img src="assets/img/top-book_title.svg" class="book-contents__title" />
      <div class="book-contents__link" href="#">
        <img class="book-contents__time" src="assets/img/top-book_time.svg" alt="予約開始は1月"/>
        <img class="book-contents__reserve" src="assets/img/top-book_link.svg" alt="図録の購入予約"/>
      </div>
    </div>
    <div class="book-contents__webgl-container">
      <canvas class="book-contents__canvas" id="myCanvas"></canvas>
    </div>
  </div>
  <div class="book-text">
    <p>
      100点以上に及ぶ展示作品などを収録した統合デザイン学科オリジナルの図録を販売します。今年度も魅力たっぷりな本を多くの方にお届けできるよう、鋭意作成中です。販売や装丁に関する詳しい情報解禁をお楽しみに！
    </p>
    </p>
  </div>
</section>
