<section class="book js-section">
  <div class="book-contents">
    <div class="book-contents__text">
      <img src="assets/img/top-book_title.svg" class="book-contents__title" />
      <a class="book-contents__link" href="#">
        <img src="assets/img/top-book_link.svg" />
      </a>
    </div>
    <canvas class="book-contents__canvas"></canvas>
  </div>
  <div class="book-text">
    <p>
      美しく咲き枯れていく植物や成長する緑は人生に重なるものがあります。美しく咲き枯れていく植物や成長する緑は人生に重なるものがあります。美しく咲き枯れていく植物や成長する緑は人生に重なるものがあります。
    </p>
    </p>
  </div>
</section>
