<div class="description-title description-col__contents">
  <img
    class="description-title__img"
    src="assets/img/top-description_title.svg"
    alt="統合デザインの卒展"
  />
  <img
    class="description-title__sub-img"
    src="assets/img/top-description_sub-title.svg"
    alt="「ハート」とは"
  />
</div>
