<img class="description__hurt" src="assets/img/hurt.svg" />
<section class="description description-col js-section">
  <%-include("./_description-title"); %> <%-include("./_description-text"); %>
</section>
