<div class="description-text description-col__contents">
  <p>
    本学科は新しいデザイン教育の場として設立されました。この度、学生139名の卒業作品を展示いたします。新たな価値を発見し表現する私たちの<img
      src="assets/img/common/heart-white.svg"
      alt="ハート"
    />を、どうぞご覧ください。
  </p>
</div>
