@use "../../config/import" as *;
@use "sass:math";

.header-nav {
  background-color: $color-white;
  display: none;
  height: 100vh;
  left: 0;

  // left: 0;
  position: fixed;
  top: 0;
  width: 100vw;

  @include content-width;
  @include mq(tb) {
    display: none;
  }

  &__links {
    display: flex;
    flex-direction: column;
    margin-top: $m-96;
  }

  &__button {
    margin: 0;
    padding-bottom: 4px;
    width: fit-content;

    img {
      height: 36px;
    }
  }

  &__sns {
    display: flex;
    flex-direction: column;
    margin-top: $m-32;
  }

  &__info {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
  }

  &__title {
    padding-bottom: $m-24;
    width: get-vw(176px, 390px);
  }

  &__time {
    height: 25px;
    padding-bottom: 4px;
  }

  &__reserve {
    margin: 0;

    img {
      height: 38px;
    }
  }
}
