@use "../../config/import" as *;
@use "sass:math";

.visitor-explain-ex {
  display: none;

  @include mq(tb) {
    align-items: flex-start;
    display: flex;
    margin-left: get-vw(63px, 1280px);
    margin-top: $m-72;
  }

  &__sp {
    align-items: flex-start;
    display: flex;
    margin-top: $m-48;
    @include mq(tb) {
      display: none;
    }
  }

  &__text-block {
    padding-left: 0;
    width: auto;

    @include mq(tb) {
      padding-left: get-vw(24px, 1280px);
      width: get-vw(328px, 1280px);
    }
  }

  &__text {
    @include text-style-body;

    margin: 0;
    margin-top: -5px;
    padding-bottom: $m-16;
  }
}
