@use "../../config/import" as *;
@use "sass:math";

.visitor-explain-03 {
  align-items: flex-start;
  display: flex;
  margin-top: $m-48;

  @include mq(tb) {
    margin-top: $m-72;
  }

  &__title {
    width: get-vw(64px, 390px);

    @include mq(tb) {
      width: get-vw(63px, 1280px);
    }
  }

  &__text-block {
    margin-top: 4px;
    padding-left: get-vw(24px, 390px);
    width: auto;

    @include mq(tb) {
      padding-left: get-vw(24px, 1280px);
      width: get-vw(328px, 1280px);
    }
  }

  &__text {
    margin: 0;
    margin-top: -5px;
    padding-bottom: $m-16;
    @include text-style-body_red;
  }
}
