@use "../../config/import" as *;
@use "sass:math";

.visitor-contents {
  display: block;
  @include mq(tb) {
    display: flex;
    justify-content: space-between;
  }

  &__bottom {
    display: none;
    @include mq(tb) {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }
}
