@use "../../config/import" as *;
@use "sass:math";

.visitor {
  margin: 0;
  @include content-width;

  @include mq(tb) {
    margin-bottom: $m-96;
    margin-top: $m-96;
  }

  &__title {
    height: 74px;
    margin-top: $m-96;
    @include mq(tb) {
      margin-top: $m-48;
    }
    @media screen and (max-width: 375px) {
      height: 64px;
      margin-top: 84px;
    }
  }
}
