@use "../../config/import" as *;
@use "sass:math";

.description-col {
  @include mq(tb) {
    padding-bottom: $m-48;
    padding-top: $m-48;
    @include col(2, $m-24, ".description-col__contents");
  }

  padding-bottom: $m-80;
  padding-top: $m-80;
}
