@use "../../config/import" as *;
@use "sass:math";

.description {
  @include content-width;
  @include mq(tb) {
    flex-direction: row;
    justify-content: center;
  }

  background-color: $color-main;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;

  &__hurt {
    filter: saturate(2);
    left: get-vw(38px, 390px);
    mix-blend-mode: difference;
    position: absolute;
    top: 125vh;
    width: get-vw(314px, 390px);

    @include mq(tb) {
      filter: saturate(2);
      left: get-vw(476px, 1280px);
      top: 120vh;
      width: get-vw(504px, 1280px);
      z-index: 100;
    }
  }

  &__img {
    width: 100%;

    @include mq(tb) {
      height: 100%;
    }
  }
}
