@use "../../config/import" as *;
@use "sass:math";

.description-text {
  align-items: flex-end;
  display: flex;

  p {
    @include text-style-body_white;
    @media screen and (max-width: 375px) {
      font-size: 14px;
      margin-bottom: 8px;
    }
    @media screen and (max-height: 700px) {
      font-size: 14px;
    }

    margin: 0;

    img {
      height: 14px;
      margin-left: 2px;
      margin-right: 2px;
      @media screen and (max-width: 375px) {
        height: 12.5px;
      }
    }
  }
}
