<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="color-scheme" content="light" />
  <meta name="theme-color" value="#ff0000" />
  <link rel="stylesheet" href="./assets/css/style.css" />
  <link href="http://fonts.googleapis.com/earlyaccess/notosansjp.css" />
  <!-- <script src="./assets/script/script.js"></script> -->
  <meta name="format-detection" content="telephone=no" />
  <!-- OGPここから -->
  <meta property="og:title" content="統合デザインの卒展 2023" />
  <meta
    property="og:description"
    content="1月18日(水)〜22日(日) 9時〜17時 多摩美術大学・上野毛キャンパス 入場無料 事前予約制"
  />
  <meta property="og:url" content="https://integrated.jp/gw23/" />
  <meta
    property="og:image"
    content="https://integrated.jp/gw23/images/OGP.png"
  />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="統合デザインの卒展 2023" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@integrated_gw" />
  <!-- OGPここまで -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <link
    rel="icon"
    href="https://integrated.jp/gw23/images/favicon.ico"
    id="favicon"
  />
  <title>統合デザインの卒展 2023</title>
  <!-- font -->
  <!-- interstate -->
  <!-- 見出しゴ -->
  <!-- 太ゴ -->
  <script>
    (function (d) {
      var config = {
          kitId: "kje7xti",
          scriptTimeout: 3000,
          async: true,
        },
        h = d.documentElement,
        t = setTimeout(function () {
          h.className =
            h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
        }, config.scriptTimeout),
        tk = d.createElement("script"),
        f = false,
        s = d.getElementsByTagName("script")[0],
        a;
      h.className += " wf-loading";
      tk.src = "https://use.typekit.net/" + config.kitId + ".js";
      tk.async = true;
      tk.onload = tk.onreadystatechange = function () {
        a = this.readyState;
        if (f || (a && a != "complete" && a != "loaded")) return;
        f = true;
        clearTimeout(t);
        try {
          Typekit.load(config);
        } catch (e) {}
      };
      s.parentNode.insertBefore(tk, s);
    })(document);
  </script>
</head>
