<!DOCTYPE html>
<html lang="en">
  <%- include("./_head"); %>
  <body>
    <%- include("./header/_header"); %>
    <div class="page-wrapper">
      <div class="hoge-hoge">aaa</div>
      <%- include("./top/_top-description"); %>
    </div>
    <%- include("./footer/_footer"); %>
  </body>
</html>
