<section class="sponsorship-main">
  <img
    class="sponsorship-main__title"
    src="assets/img/sponsorship-main_title.svg"
    alt="来場の際の注意事項"
  />
  <div class="sponsorship-main__col">
    <p class="sponsorship-main__text">
      今年度の卒業・修了制作展の開催にあたり、たくさんの企業様よりご協賛をいただいております。<br />参加者一同、お礼を申し上げます。
    </p>
    <img class="sponsorship-main__hurt" src="assets/img/hurt-red.svg" />
  </div>
</section>
