<section class="caution-main">
  <img
    class="caution-main__title"
    src="assets/img/caution-main_title.svg"
    alt="来場の際の注意事項"
  />
  <div class="caution-main__col">
    <p class="caution-main__text">
      本展示の来場の際には以下の注意事項をよくご確認の上お越しください。また、スタッフも感染対策として以下のことを実施します。
    </p>
    <img class="caution-main__hurt" src="assets/img/hurt-red.svg" />
  </div>
</section>
