@use '../config/import' as *;
@use 'sass:math';

.footer-sp {
  @include content-width;
  @include col(2, $m-48, ".footer-pc__contents");
  @include mq(tb) {
    display: none;
  }

  display: flex;
  padding-top: $m-16;

  p {
    cursor: pointer;
  }
}
