@use "../config/import" as *;
@use "sass:math";

.footer {
  height: 100vh;
  width: 100%;
  @include content-width;

  &__hurt {
    @include mq(tb) {
      left: 36px;
    }

    bottom: -340vh;
    filter: saturate(2);
    height: 290px;
    left: 0;
    mix-blend-mode: difference;
    position: absolute;
  }

  @include mq(tb) {
    display: flex;
    height: auto;
  }
}
