@use "../config/import" as *;
@use "sass:math";

.footer {
  height: 100vh;
  width: 100%;
  @include content-width;

  @include mq(tb) {
    display: flex;
    filter: saturate(2);
    height: auto;
  }

  &__hurt {
    bottom: -340vh;
    display: none;
    height: 290px;
    left: 0;
    mix-blend-mode: difference;
    position: absolute;
    @include mq(tb) {
      filter: saturate(2);
      left: 36px;
    }
  }

  &__hurt-02 {
    display: none;
    height: 240px;
    left: 0;
    position: absolute;
    @include mq(tb) {
      display: block;
      filter: saturate(2);
      left: 36px;
    }
  }

  @include mq(tb) {
    display: flex;
    height: auto;
  }
}
