@use "../../config/import" as *;
@use "sass:math";

.staff {
  @include content-width;

  align-items: center;
  display: flex;
  margin-top: 0;
  @include mq(tb) {
    filter: saturate(2);
    margin-top: $m-96;
  }
}
