<div class="footer-right">
  <div class="footer-right__contents">
    <ul>
      <li>
        <a href="#">
          <img src="assets/img/common/footer-top.svg" alt="トップ" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/img/common/footer-archive.svg" alt="アーカイブ" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/img/common/footer-news.svg" alt="ニュース" />
        </a>
      </li>
      <li>
        <a href="./caution.html">
          <img
            src="assets/img/common/footer-caution.svg"
            alt="来場時の注意事項"
          />
        </a>
      </li>
    </ul>

    <ul>
      <li>
        <a
          href="https://twitter.com/integrated_gw?s=20&t=M5hsY8ptON_Kqor3cQ3EaQ"
        >
          <img src="assets/img/common/footer-twitter.svg" alt="Twitter" />
        </a>
      </li>
      <li>
        <a href="https://line.me/R/ti/p/@960zaiis?oat__id=1569046">
          <img src="assets/img/common/footer-line.svg" alt="Line" />
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/integrated_gw/">
          <img src="assets/img/common/footer-instagram.svg" alt="Instagram" />
        </a>
      </li>
    </ul>
  </div>
  <p class="footer-right__copy">
    ©︎ 2023 多摩美術大学統合デザイン学科 卒業・修了制作展委員会
  </p>
</div>
