<div class="footer-right">
  <div class="footer-right__contents">
    <ul>
      <li>
        <a href="#">
          <img src="assets/img/common/header-top.svg" alt="トップ" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/img/common/header-archive.svg" alt="アーカイブ" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/img/common/header-news.svg" alt="ニュース" />
        </a>
      </li>
      <li>
        <a href="#">
          <img
            src="assets/img/common/header-caution.svg"
            alt="来場時の注意事項"
          />
        </a>
      </li>
    </ul>

    <ul>
      <li>
        <a href="#">
          <img src="assets/img/common/header-twitter.svg" alt="Twitter" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/img/common/header-line.svg" alt="Line" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/img/common/header-instagram.svg" alt="Instagram" />
        </a>
      </li>
    </ul>
  </div>
  <p class="footer-right__copy">
    ©︎ 2023 多摩美術大学統合デザイン学科 卒業・修了制作展委員会
  </p>
</div>
