<div class="footer-pc">
  <div class="footer-pc__contents">
    <p class="footer-pc__logo">フッター</p>
  </div>
  <div class="footer-pc__contents">
    <a class="footer-pc__items">
      <p>about</p>
    </a>
    <a class="footer-pc__items">
      <p>news</p>
    </a>
    <a class="footer-pc__items">
      <p>reserve</p>
    </a>
    <a class="footer-pc__items">
      <p>access</p>
    </a>
  </div>
</div>
