<footer class="footer">
  <img src="assets/img/hurt.svg" alt="ハート" class="footer__hurt" />
  <div class="footer-left">
    <img
      src="assets/img/footer_text.svg"
      class="footer-left__title"
      alt="多摩美術大学 統合デザインの卒展"
    />
    <div class="footer-left__reserve">
      <img
        src="assets/img/footer_reserve-time.svg"
        class="footer-left__time"
        alt="予約開始は12/21"
      />
      <a class="footer-left__link" href="#">
        <img
          src="assets/img/top-access_reserve.svg"
          alt="来場予約はこちらから"
        />
      </a>
    </div>
  </div>
  <div class="footer-right">
    <div class="footer-right__contents">
      <ul>
        <li>
          <a href="#">
            <img src="assets/img/common/header-top.svg" alt="トップ" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="assets/img/common/header-archive.svg" alt="アーカイブ" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="assets/img/common/header-news.svg" alt="ニュース" />
          </a>
        </li>
        <li>
          <a href="#">
            <img
              src="assets/img/common/header-caution.svg"
              alt="来場時の注意事項"
            />
          </a>
        </li>
      </ul>

      <ul>
        <li>
          <a href="#">
            <img src="assets/img/common/header-twitter.svg" alt="Twitter" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="assets/img/common/header-line.svg" alt="Line" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="assets/img/common/header-instagram.svg" alt="Instagram" />
          </a>
        </li>
      </ul>
    </div>
    <p class="footer-right__copy">
      ©︎ 2023 多摩美術大学統合デザイン学科 卒業・修了制作展委員会
    </p>
  </div>
</footer>
