@charset "UTF-8";
li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  mix-blend-mode: difference;
}
.main img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .main img {
    height: 100%;
  }
}

.top-description {
  width: 100%;
}
.top-description__section {
  color: #0ff;
  font-family: "游ゴシック", "YuGothic", "游ゴシック体", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
  mix-blend-mode: difference;
  padding-top: 16px;
}
.top-description__contents {
  color: #0ff;
  font-family: "游ゴシック", "YuGothic", "游ゴシック体", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.8;
  mix-blend-mode: difference;
  padding-bottom: 16px;
  padding-top: 16px;
}
.top-description__title {
  color: #0ff;
  font-family: "游ゴシック", "YuGothic", "游ゴシック体", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
  mix-blend-mode: difference;
}
.top-description__body {
  color: #0ff;
  font-family: "游ゴシック", "YuGothic", "游ゴシック体", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.8;
  mix-blend-mode: difference;
  padding-top: 16px;
}

.description {
  background-color: #0ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  mix-blend-mode: difference;
}
@media screen and (min-width: 768px) {
  .description {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 2.7777777778vw;
    padding-right: 2.7777777778vw;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (min-width: 576px) {
  .description {
    padding-left: 16.640625vw;
    padding-right: 10.234375vw;
  }
}
.description__hurt {
  left: 37.1875vw;
  mix-blend-mode: difference;
  position: absolute;
  top: 789px;
  width: 39.375vw;
}
.description__img {
  mix-blend-mode: difference;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .description__img {
    height: 100%;
  }
}

::-moz-selection {
  background-color: rgb(255, 0, 0);
  color: white;
}

::selection {
  background-color: rgb(255, 0, 0);
  color: white;
}

.description-title {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  mix-blend-mode: difference;
  vertical-align: middle;
}
.description-title__img {
  width: 189px;
}
.description-title__sub-img {
  height: 187px;
}

.description-col {
  padding-bottom: 48px;
  padding-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.description-col .description-col__contents {
  width: calc((100% - 24px) / 2);
}

.description-text {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.description-text p {
  margin: 0;
}

.access {
  display: block;
  height: 100vh;
}
@media screen and (min-width: 768px) {
  .access {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 2.7777777778vw;
    padding-right: 2.7777777778vw;
    width: 100%;
    padding-bottom: 48px;
    padding-top: 48px;
  }
}
@media screen and (min-width: 768px) and (min-width: 576px) {
  .access {
    padding-left: 16.640625vw;
    padding-right: 10.234375vw;
  }
}
.access__hurt {
  left: 37.1875vw;
  mix-blend-mode: difference;
  position: absolute;
  top: 789px;
  width: 39.375vw;
}
.access__img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .access__img {
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .access-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .access-contents__map {
    width: calc((100% - 24px) / 11 * 9);
  }
  .access-contents__title {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: calc((100% - 24px) / 11 * 2);
  }
}
.access-contents__map img {
  width: 100%;
}
.access-contents__title {
  mix-blend-mode: difference;
}
.access-contents__title img {
  width: 32px;
}

.access-info__event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -16px;
}
@media screen and (min-width: 768px) {
  .access-info__event ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.access-info__event ul li {
  color: #0ff;
  font-family: "游ゴシック", "YuGothic", "游ゴシック体", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.8;
  mix-blend-mode: difference;
  padding-left: 16px;
}
.access-info__description p {
  color: #0ff;
  font-family: "游ゴシック", "YuGothic", "游ゴシック体", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.8;
  mix-blend-mode: difference;
}

.access-link {
  margin-top: -16px;
  mix-blend-mode: difference;
}
@media screen and (min-width: 768px) {
  .access-link {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.access-link img {
  height: 36px;
  padding-top: 16px;
}

.access-text-block {
  padding-top: 48px;
}
@media screen and (min-width: 768px) {
  .access-text-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header {
  mix-blend-mode: difference;
  position: fixed;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .header {
    margin-left: 32px;
    margin-top: 32px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
}

body {
  background-color: #fff;
  margin: 0;
}

.header-pc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media screen and (min-width: 768px) {
  .header-pc {
    display: block;
  }
}
.header-pc .header-pc__contents {
  width: calc((100% - 48px) / 2);
}
.header-pc__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-bottom: 64px;
}
.header-pc__logo {
  color: #0ff;
  font-family: "游ゴシック", "YuGothic", "游ゴシック体", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.8;
  mix-blend-mode: difference;
  padding-top: 16px;
}
.header-pc__logo:hover {
  cursor: pointer;
}
.header-pc__items {
  color: #0ff;
  font-family: "游ゴシック", "YuGothic", "游ゴシック体", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.8;
  mix-blend-mode: difference;
  height: 30px;
  padding-right: 16px;
  padding-top: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.header-pc__items img {
  height: 30px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
.header-pc__items:hover {
  cursor: pointer;
}

.header-sp {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 2.7777777778vw;
  padding-right: 2.7777777778vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: flex;
  padding-top: 16px;
}
@media screen and (min-width: 576px) {
  .header-sp {
    padding-left: 16.640625vw;
    padding-right: 10.234375vw;
  }
}
.header-sp .header-pc__contents {
  width: calc((100% - 48px) / 2);
}
@media screen and (min-width: 768px) {
  .header-sp {
    display: none;
  }
}
.header-sp p {
  cursor: pointer;
}

.header-side {
  -webkit-animation: loop 20s 2s linear infinite;
          animation: loop 20s 2s linear infinite;
  background-image: url(../img/common/header-info.svg);
  background-repeat: repeat-y;
  background-size: auto 100%;
  height: 100%;
  mix-blend-mode: difference;
  position: fixed;
  right: 32px;
  top: 0;
  width: 18px;
}

@-webkit-keyframes loop {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -100vh; /* 画像のマイナス幅 */
  }
}

@keyframes loop {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -100vh; /* 画像のマイナス幅 */
  }
}
.footer {
  background-color: #f00;
  height: 72px;
  width: 100%;
}

.footer-pc {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 2.7777777778vw;
  padding-right: 2.7777777778vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media screen and (min-width: 576px) {
  .footer-pc {
    padding-left: 16.640625vw;
    padding-right: 10.234375vw;
  }
}
@media screen and (min-width: 768px) {
  .footer-pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.footer-pc .footer-pc__contents {
  width: calc((100% - 48px) / 2);
}
.footer-pc__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-pc__logo {
  padding-top: 16px;
}
.footer-pc__logo:hover {
  cursor: pointer;
}
.footer-pc__items {
  padding-right: 16px;
  padding-top: 16px;
}
.footer-pc__items:hover {
  cursor: pointer;
}

.footer-sp {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 2.7777777778vw;
  padding-right: 2.7777777778vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: flex;
  padding-top: 16px;
}
@media screen and (min-width: 576px) {
  .footer-sp {
    padding-left: 16.640625vw;
    padding-right: 10.234375vw;
  }
}
.footer-sp .footer-pc__contents {
  width: calc((100% - 48px) / 2);
}
@media screen and (min-width: 768px) {
  .footer-sp {
    display: none;
  }
}
.footer-sp p {
  cursor: pointer;
}