@charset "UTF-8";
@import "http://fonts.googleapis.com/earlyaccess/notosansjp.css";
li {
  list-style: none;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: white;
  margin: 0;
  overflow-x: hidden;
}

::-moz-selection {
  background-color: white;
  color: white;
}

::selection {
  background-color: white;
  color: white;
}

#defaultCanvas0 {
  display: none;
}

a :hover {
  opacity: 0.6;
}

.header {
  margin-left: 23px;
  margin-top: 32px;
  mix-blend-mode: difference;
  position: fixed;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .header {
    -webkit-filter: saturate(2);
            filter: saturate(2);
    margin-left: 32px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
}

.header-side {
  -webkit-animation: loop-sp 15s 2s linear infinite;
          animation: loop-sp 15s 2s linear infinite;
  background-blend-mode: difference;
  background-image: url(../img/common/header-info_sp.svg);
  background-repeat: repeat-x;
  background-size: auto 100%;
  bottom: 32px;
  height: 18px;
  mix-blend-mode: difference;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .header-side {
    -webkit-animation: loop 20s 2s linear infinite;
            animation: loop 20s 2s linear infinite;
    background-image: url(../img/common/header-info.svg);
    background-repeat: repeat-y;
    -webkit-filter: saturate(2);
            filter: saturate(2);
    height: 100%;
    right: 24px;
    top: 0;
    width: 18px;
  }
}

@media screen and (min-width: 768px) {
  @-webkit-keyframes loop {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 0 -100vh; /* 画像のマイナス幅 */
    }
  }
  @keyframes loop {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 0 -100vh; /* 画像のマイナス幅 */
    }
  }
}
@-webkit-keyframes loop-sp {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -100vw 0; /* 画像のマイナス幅 */
  }
}
@keyframes loop-sp {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -100vw 0; /* 画像のマイナス幅 */
  }
}
.header-pc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
.header-pc .header-pc__contents {
  width: calc((100% - 48px) / 2);
}
.header-pc__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-bottom: 64px;
}
.header-pc__logo {
  padding-top: 16px;
}
.header-pc__logo:hover {
  cursor: pointer;
}
.header-pc__items {
  height: 30px;
  padding-right: 16px;
  padding-top: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.header-pc__items img {
  height: 30px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
.header-pc__items:hover {
  cursor: pointer;
}

.header-sp {
  position: fixed;
}
@media screen and (min-width: 768px) {
  .header-sp {
    display: none;
  }
}
.header-sp img {
  mix-blend-mode: difference;
  width: 48px;
}

.header-nav {
  background-color: #fff;
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 7.6923076923vw;
  padding-right: 7.6923076923vw;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header-nav {
    padding-left: 16.640625vw;
    padding-right: 10.234375vw;
  }
}
@media screen and (min-width: 768px) {
  .header-nav {
    display: none;
  }
}
.header-nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 96px;
}
.header-nav__button {
  margin: 0;
  padding-bottom: 4px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.header-nav__button img {
  height: 36px;
}
.header-nav__sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 16px;
}
.header-nav__info {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 32px;
}
.header-nav__title {
  padding-bottom: 24px;
  width: 45.1282051282vw;
}
.header-nav__time {
  height: 25px;
  padding-bottom: 4px;
}
.header-nav__reserve {
  margin: 0;
}
.header-nav__reserve img {
  height: 38px;
}

.footer {
  height: 100vh;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 7.6923076923vw;
  padding-right: 7.6923076923vw;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-left: 16.640625vw;
    padding-right: 10.234375vw;
  }
}
.footer__hurt {
  bottom: -340vh;
  height: 290px;
  left: 0;
  mix-blend-mode: difference;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .footer__hurt {
    -webkit-filter: saturate(2);
            filter: saturate(2);
    left: 36px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
  }
}

.footer-left {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 160px;
}
@media screen and (min-width: 768px) {
  .footer-left {
    display: block;
    margin-left: calc((100% - 24px) / 11 * 2 + 24px);
    padding-bottom: 32px;
    padding-top: 32px;
    width: 25.625vw;
  }
}
.footer-left__title {
  padding-bottom: 32px;
  width: 56.9230769231vw;
}
@media screen and (min-width: 768px) {
  .footer-left__title {
    padding-bottom: 40px;
    width: 16.875vw;
  }
}
.footer-left__time {
  height: 15px;
  margin-bottom: 6px;
  margin-left: -24px;
}
@media screen and (min-width: 768px) {
  .footer-left__time {
    margin-left: 0;
  }
}
.footer-left__reserve {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-left__link {
  height: 38px;
  width: 200px;
}
.footer-left__link img {
  height: 100%;
  margin-left: -24px;
}
@media screen and (min-width: 768px) {
  .footer-left__link img {
    margin: 0;
  }
}

.footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 48px;
  padding-top: 64px;
}
@media screen and (min-width: 768px) {
  .footer-right {
    padding-bottom: 32px;
    padding-top: 32px;
  }
}
.footer-right p {
  color: #0ff;
  margin-top: 48px;
  color: #f00;
  font-family: a-otf-futo-go-b101-pr6n, "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  font-size: 11px;
  font-weight: bold;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .footer-right p {
    margin: 0;
  }
}
.footer-right__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-right__contents ul {
  width: 50%;
}
@media screen and (min-width: 768px) {
  .footer-right__contents ul {
    width: 13.75vw;
  }
}
.footer-right__contents ul li {
  padding-bottom: 4px;
}
.footer-right__contents a {
  margin-bottom: 12px;
}
.footer-right__contents img {
  height: 28px;
}

.filter {
  display: none;
}
@media screen and (min-width: 768px) {
  .filter {
    background-color: rgba(255, 255, 255, 0.1803921569);
    display: block;
    height: 100vh;
    pointer-events: none;
    position: fixed;
    width: 100vw;
    z-index: 999;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.main__hurt {
  -webkit-filter: saturate(2);
          filter: saturate(2);
  margin-top: -70px;
  mix-blend-mode: difference;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .main__hurt {
    height: 100%;
    margin: 0;
  }
}
.main__reserve {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 7.6923076923vw;
  padding-top: 24px;
}
@media screen and (min-width: 768px) {
  .main__reserve {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    bottom: 64px;
    padding: 0;
    position: absolute;
    right: 9.6875vw;
  }
}
.main__time {
  height: 25px;
}
.main__button {
  height: 44px;
}

.top-description {
  width: 100%;
}
.top-description__section {
  color: #0ff;
  font-family: a-otf-futo-go-b101-pr6n, "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
  padding-top: 16px;
}
.top-description__contents {
  color: #fff;
  font-family: a-otf-futo-go-b101-pr6n, "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
  padding-bottom: 16px;
  padding-top: 16px;
}
.top-description__title {
  color: #0ff;
  font-family: a-otf-futo-go-b101-pr6n, "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
}
.top-description__body {
  color: #fff;
  font-family: a-otf-futo-go-b101-pr6n, "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
  padding-top: 16px;
}

.description {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 7.6923076923vw;
  padding-right: 7.6923076923vw;
  width: 100%;
  background-color: #f00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .description {
    padding-left: 16.640625vw;
    padding-right: 10.234375vw;
  }
}
@media screen and (min-width: 768px) {
  .description {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.description__hurt {
  -webkit-filter: saturate(2);
          filter: saturate(2);
  left: 9.7435897436vw;
  mix-blend-mode: difference;
  position: absolute;
  top: 125vh;
  width: 80.5128205128vw;
}
@media screen and (min-width: 768px) {
  .description__hurt {
    -webkit-filter: saturate(2);
            filter: saturate(2);
    left: 37.1875vw;
    top: 120vh;
    width: 39.375vw;
    z-index: 100;
  }
}
.description__img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .description__img {
    height: 100%;
  }
}

.description-title {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .description-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    vertical-align: middle;
  }
}
.description-title__img {
  width: 189px;
}
.description-title__sub-img {
  height: 187px;
  margin-top: -15px;
}
@media screen and (min-width: 768px) {
  .description-title__sub-img {
    margin-top: 0;
  }
}

.description-col {
  padding-bottom: 80px;
  padding-top: 80px;
}
@media screen and (min-width: 768px) {
  .description-col {
    -webkit-filter: saturate(2);
            filter: saturate(2);
    padding-bottom: 48px;
    padding-top: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .description-col .description-col__contents {
    width: calc((100% - 24px) / 2);
  }
}

.description-text {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.description-text p {
  color: #fff;
  font-family: a-otf-futo-go-b101-pr6n, "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
  margin: 0;
}

.access {
  display: block;
  height: 100vh;
  padding-bottom: 80px;
  padding-top: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 7.6923076923vw;
  padding-right: 7.6923076923vw;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .access {
    padding-left: 16.640625vw;
    padding-right: 10.234375vw;
  }
}
@media screen and (min-width: 768px) {
  .access {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 48px;
    padding-top: 48px;
  }
}

@media screen and (min-width: 768px) {
  .access-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.access-contents__map {
  border: 1.5px solid #f00;
  margin-left: -7.9487179487vw;
  margin-right: -7.9487179487vw;
}
@media screen and (min-width: 768px) {
  .access-contents__map {
    margin: 0;
    width: calc((100% - 24px) / 11 * 8);
  }
}
.access-contents__map img {
  width: 100%;
}
.access-contents__title {
  display: none;
}
@media screen and (min-width: 768px) {
  .access-contents__title {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: calc((100% - 24px) / 11 * 3);
  }
}
.access-contents__title img {
  width: 32px;
}

.access-info {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .access-info {
    width: calc((100% - 24px) / 11 * 9);
  }
}
.access-info__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .access-info__contents {
    width: 53.046875vw;
  }
}
.access-info__sp {
  display: block;
  width: 25%;
}
@media screen and (min-width: 768px) {
  .access-info__sp {
    display: none;
  }
}
.access-info__sp img {
  width: 32px;
}
.access-info__event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: -16px;
  margin-top: -16px;
}
@media screen and (min-width: 768px) {
  .access-info__event {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    margin-left: -16px;
  }
}
.access-info__event ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 16px;
}
@media screen and (min-width: 768px) {
  .access-info__event ul {
    padding: 0;
  }
}
.access-info__event ul li {
  color: #f00;
  font-family: a-otf-futo-go-b101-pr6n, "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
  padding-left: 16px;
}
.access-info__sub-title {
  width: 22.5641025641vw;
}
@media screen and (min-width: 768px) {
  .access-info__sub-title {
    width: auto;
  }
}
.access-info__text {
  width: 60%;
}
@media screen and (min-width: 768px) {
  .access-info__text {
    width: auto;
  }
}
.access-info__description p {
  color: #f00;
  font-family: a-otf-futo-go-b101-pr6n, "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
  margin-bottom: 0;
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .access-info__time {
    width: 18.75vw;
  }
}
@media screen and (min-width: 768px) {
  .access-info__address {
    width: calc((100% - 24px) / 9 * 6);
  }
}

.access-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .access-link {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    margin-top: -16px;
  }
}
.access-link img {
  height: 40px;
  padding-top: 16px;
}
@media screen and (min-width: 768px) {
  .access-link img {
    height: 36px;
  }
}

.access-text-block {
  padding-top: 32px;
}
@media screen and (min-width: 768px) {
  .access-text-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 0;
  }
}

.book {
  background-color: #f00;
  display: block;
  height: 100vh;
  padding-bottom: 80px;
  padding-top: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 7.6923076923vw;
  padding-right: 7.6923076923vw;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .book {
    padding-left: 16.640625vw;
    padding-right: 10.234375vw;
  }
}
@media screen and (min-width: 768px) {
  .book {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-filter: saturate(2);
            filter: saturate(2);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 48px;
    padding-top: 48px;
  }
}

.book-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .book-contents {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: inherit;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.book-contents__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .book-contents__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    width: calc((100% - 24px) / 11 * 2);
  }
}
.book-contents__title {
  width: 64px;
}
.book-contents__link {
  padding-top: 48px;
}
.book-contents__link img {
  height: 44px;
}
.book-contents__canvas {
  background-color: #fff;
  height: 71vw;
  margin-left: -7.9487179487vw;
  margin-right: -7.9487179487vw;
  margin-top: 48px;
  width: 100vw;
}
@media screen and (min-width: 768px) {
  .book-contents__canvas {
    height: 60vh;
    margin: 0;
    width: calc((100% - 24px) / 11 * 9);
  }
}

.book-text {
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .book-text {
    margin-left: calc((100% - 24px) / 11 * 2 + 24px);
    margin-top: 0;
    width: calc((100% - 24px) / 11 * 6);
  }
}
.book-text p {
  color: #fff;
  font-family: a-otf-futo-go-b101-pr6n, "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .book-text p {
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
    -webkit-columns: 2;
       -moz-columns: 2;
            columns: 2;
    margin-top: 32px;
  }
}

.archive-main {
  background-color: #f00;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 7.6923076923vw;
  padding-right: 7.6923076923vw;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .archive-main {
    -webkit-filter: saturate(2);
            filter: saturate(2);
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 768px) {
  .archive-main {
    padding-left: 16.640625vw;
    padding-right: 10.234375vw;
  }
}
@media screen and (min-width: 768px) {
  .archive-main {
    height: auto;
  }
}
.archive-main__title {
  height: 29px;
  margin-top: 96px;
}
@media screen and (min-width: 768px) {
  .archive-main__title {
    margin-top: 48px;
  }
}
.archive-main__text {
  padding-top: 48px;
  width: 100%;
  color: #fff;
  font-family: a-otf-futo-go-b101-pr6n, "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
}
@media screen and (min-width: 768px) {
  .archive-main__text {
    padding-top: 164px;
    width: 33.28125vw;
  }
}
.archive-main__hurt {
  -webkit-filter: saturate(2);
          filter: saturate(2);
  mix-blend-mode: difference;
  position: absolute;
  top: 430px;
  width: calc(100% - 36px);
}
@media screen and (min-width: 768px) {
  .archive-main__hurt {
    right: 9.6875vw;
    top: 48px;
    width: 32.5vw;
  }
}

.year {
  margin-bottom: 64px;
  margin-top: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 7.6923076923vw;
  padding-right: 7.6923076923vw;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .year {
    padding-left: 16.640625vw;
    padding-right: 10.234375vw;
  }
}
@media screen and (min-width: 768px) {
  .year {
    margin-top: 48px;
  }
}

.year-contents {
  display: block;
}
@media screen and (min-width: 768px) {
  .year-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.year-contents__unit {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-right: -7.6923076923vw;
  padding-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .year-contents__unit {
    margin: 0;
    padding-bottom: 64px;
    width: 32.5vw;
  }
}
.year-contents__title {
  width: 6.1538461538vw;
}
@media screen and (min-width: 768px) {
  .year-contents__title {
    width: 1.875vw;
  }
}
.year-contents__img {
  width: 69.4871794872vw;
}
@media screen and (min-width: 768px) {
  .year-contents__img {
    width: 25.625vw;
  }
}

.news-main {
  background-color: #f00;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 7.6923076923vw;
  padding-right: 7.6923076923vw;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .news-main {
    -webkit-filter: saturate(2);
            filter: saturate(2);
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 768px) {
  .news-main {
    padding-left: 16.640625vw;
    padding-right: 10.234375vw;
  }
}
@media screen and (min-width: 768px) {
  .news-main {
    height: auto;
  }
}
.news-main__title {
  height: 42px;
  margin-top: 96px;
}
@media screen and (min-width: 768px) {
  .news-main__title {
    margin-top: 48px;
  }
}
.news-main__text {
  padding-top: 48px;
  width: 100%;
  color: #fff;
  font-family: a-otf-futo-go-b101-pr6n, "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
}
@media screen and (min-width: 768px) {
  .news-main__text {
    padding-top: 164px;
    width: 33.28125vw;
  }
}
.news-main__hurt {
  -webkit-filter: saturate(2);
          filter: saturate(2);
  mix-blend-mode: difference;
  position: absolute;
  top: 430px;
  width: calc(100% - 36px);
}
@media screen and (min-width: 768px) {
  .news-main__hurt {
    right: 9.6875vw;
    top: 48px;
    width: 32.5vw;
  }
}

.note {
  margin-top: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 7.6923076923vw;
  padding-right: 7.6923076923vw;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .note {
    padding-left: 16.640625vw;
    padding-right: 10.234375vw;
  }
}
@media screen and (min-width: 768px) {
  .note {
    margin-top: 40px;
  }
}
.note__title {
  padding-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .note__title {
    padding-bottom: 64px;
  }
}

.note-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.note-contents__unit {
  padding-bottom: 48px;
  text-decoration: none;
  width: 38.9743589744vw;
}
@media screen and (min-width: 768px) {
  .note-contents__unit {
    padding-bottom: 64px;
    width: 22.890625vw;
  }
}
.note-contents__img {
  padding-bottom: 12px;
  width: 38.9743589744vw;
}
@media screen and (min-width: 768px) {
  .note-contents__img {
    width: 22.890625vw;
  }
}
.note-contents__title {
  margin: 0;
  padding-bottom: 16px;
  width: 38.9743589744vw;
  color: #f00;
  font-family: a-otf-futo-go-b101-pr6n, "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
}
@media screen and (min-width: 768px) {
  .note-contents__title {
    color: #f00;
    font-family: a-otf-futo-go-b101-pr6n, "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
    -webkit-font-feature-settings: "palt";
            font-feature-settings: "palt";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8;
    padding-bottom: 24px;
    width: 22.890625vw;
  }
}
.note-contents__time {
  margin: 0;
  color: #f00;
  font-family: a-otf-futo-go-b101-pr6n, "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  font-size: 12px;
  font-weight: normal;
  line-height: 1.4;
}
.note-contents__read {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.note-contents__read img {
  height: 28px;
}

.caution-main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 7.6923076923vw;
  padding-right: 7.6923076923vw;
  width: 100%;
  height: 100vh;
}
@media screen and (min-width: 768px) {
  .caution-main {
    padding-left: 16.640625vw;
    padding-right: 10.234375vw;
  }
}
@media screen and (min-width: 768px) {
  .caution-main {
    height: auto;
  }
}
.caution-main__title {
  height: 112px;
  margin-top: 96px;
}
@media screen and (min-width: 768px) {
  .caution-main__title {
    margin-top: 44px;
  }
}
.caution-main__text {
  padding-top: 48px;
  width: 100%;
  color: #f00;
  font-family: a-otf-futo-go-b101-pr6n, "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
}
@media screen and (min-width: 768px) {
  .caution-main__text {
    padding-top: 164px;
    width: 33.28125vw;
  }
}
.caution-main__hurt {
  -webkit-filter: saturate(2);
          filter: saturate(2);
  mix-blend-mode: difference;
  position: absolute;
  top: 430px;
  width: calc(100% - 36px);
}
@media screen and (min-width: 768px) {
  .caution-main__hurt {
    right: 9.6875vw;
    top: 48px;
    width: 32.5vw;
  }
}

.staff {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 7.6923076923vw;
  padding-right: 7.6923076923vw;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .staff {
    padding-left: 16.640625vw;
    padding-right: 10.234375vw;
  }
}
@media screen and (min-width: 768px) {
  .staff {
    margin-top: 96px;
  }
}

.staff-contents__title {
  height: 74px;
  margin-top: 96px;
}
@media screen and (min-width: 768px) {
  .staff-contents__title {
    margin-top: 48px;
  }
}
.staff-contents__text {
  color: #f00;
  font-family: a-otf-futo-go-b101-pr6n, "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
  padding-top: 32px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .staff-contents__text {
    padding-top: 136px;
    width: 39.296875vw;
  }
}
.staff-contents__text p {
  margin: 0;
  padding-bottom: 16px;
}

.staff-img__sp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -48px;
  margin-top: 48px;
}
@media screen and (min-width: 768px) {
  .staff-img__sp {
    display: none;
    margin-top: 0;
  }
}
.staff-img__pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .staff-img__pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 6.875vw;
    margin-right: -48px;
    margin-top: 48px;
  }
}
.staff-img__contents {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 6.1538461538vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (min-width: 768px) {
  .staff-img__contents {
    padding-right: 24px;
    width: auto;
  }
}
.staff-img__icon {
  width: 38.9743589744vw;
}
@media screen and (min-width: 768px) {
  .staff-img__icon {
    width: 11.875vw;
  }
}
.staff-img__caption {
  color: #f00;
  font-family: a-otf-futo-go-b101-pr6n, "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
}

.visitor {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 7.6923076923vw;
  padding-right: 7.6923076923vw;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .visitor {
    padding-left: 16.640625vw;
    padding-right: 10.234375vw;
  }
}
@media screen and (min-width: 768px) {
  .visitor {
    margin-bottom: 96px;
    margin-top: 96px;
  }
}
.visitor__title {
  height: 74px;
  margin-top: 96px;
}
@media screen and (min-width: 768px) {
  .visitor__title {
    margin-top: 48px;
  }
}

.visitor-contents {
  display: block;
}
@media screen and (min-width: 768px) {
  .visitor-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.visitor-contents__bottom {
  display: none;
}
@media screen and (min-width: 768px) {
  .visitor-contents__bottom {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.visitor-colm {
  display: block;
}
@media screen and (min-width: 768px) {
  .visitor-colm {
    width: 32.5vw;
  }
}

.visitor-explain-01 {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 48px;
}
@media screen and (min-width: 768px) {
  .visitor-explain-01 {
    margin-top: 72px;
  }
}
.visitor-explain-01__title {
  width: 16.4102564103vw;
}
@media screen and (min-width: 768px) {
  .visitor-explain-01__title {
    width: 4.921875vw;
  }
}
.visitor-explain-01__text-block {
  margin-top: 4px;
  padding-left: 6.1538461538vw;
  width: auto;
}
@media screen and (min-width: 768px) {
  .visitor-explain-01__text-block {
    padding-left: 1.875vw;
    width: 25.625vw;
  }
}
.visitor-explain-01__text {
  margin: 0;
  margin-top: -5px;
  padding-bottom: 16px;
  color: #f00;
  font-family: a-otf-futo-go-b101-pr6n, "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
}

.visitor-explain-02 {
  display: none;
}
@media screen and (min-width: 768px) {
  .visitor-explain-02 {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 72px;
  }
}
.visitor-explain-02__sp {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 48px;
}
@media screen and (min-width: 768px) {
  .visitor-explain-02__sp {
    display: none;
  }
}
.visitor-explain-02__title {
  width: 16.4102564103vw;
}
@media screen and (min-width: 768px) {
  .visitor-explain-02__title {
    width: 4.921875vw;
  }
}
.visitor-explain-02__text-block {
  margin-top: 4px;
  padding-left: 6.1538461538vw;
  width: auto;
}
@media screen and (min-width: 768px) {
  .visitor-explain-02__text-block {
    padding-left: 1.25vw;
    width: 25.625vw;
  }
}
.visitor-explain-02__text {
  list-style: disc;
  margin: 0;
  margin-left: 6.1538461538vw;
  margin-top: -5px;
  padding-bottom: 16px;
  color: #f00;
  font-family: a-otf-futo-go-b101-pr6n, "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
}
@media screen and (min-width: 768px) {
  .visitor-explain-02__text {
    margin-left: 1.875vw;
  }
}
.visitor-explain-02__underline {
  border-bottom: 1.5px solid;
  list-style: none;
  margin-bottom: 21px;
  margin-left: 0;
  padding-bottom: 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.visitor-explain-03 {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 48px;
}
@media screen and (min-width: 768px) {
  .visitor-explain-03 {
    margin-top: 72px;
  }
}
.visitor-explain-03__title {
  width: 16.4102564103vw;
}
@media screen and (min-width: 768px) {
  .visitor-explain-03__title {
    width: 4.921875vw;
  }
}
.visitor-explain-03__text-block {
  margin-top: 4px;
  padding-left: 6.1538461538vw;
  width: auto;
}
@media screen and (min-width: 768px) {
  .visitor-explain-03__text-block {
    padding-left: 1.875vw;
    width: 25.625vw;
  }
}
.visitor-explain-03__text {
  margin: 0;
  margin-top: -5px;
  padding-bottom: 16px;
  color: #f00;
  font-family: a-otf-futo-go-b101-pr6n, "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
}

.visitor-explain-ex {
  display: none;
}
@media screen and (min-width: 768px) {
  .visitor-explain-ex {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 4.921875vw;
    margin-top: 72px;
  }
}
.visitor-explain-ex__sp {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 48px;
}
@media screen and (min-width: 768px) {
  .visitor-explain-ex__sp {
    display: none;
  }
}
.visitor-explain-ex__text-block {
  padding-left: 0;
  width: auto;
}
@media screen and (min-width: 768px) {
  .visitor-explain-ex__text-block {
    padding-left: 1.875vw;
    width: 25.625vw;
  }
}
.visitor-explain-ex__text {
  margin: 0;
  margin-top: -5px;
  padding-bottom: 16px;
  color: #f00;
  font-family: a-otf-futo-go-b101-pr6n, "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
}

.visitor-explain-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 48px;
}
.visitor-explain-img__sp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 48px;
}
@media screen and (min-width: 768px) {
  .visitor-explain-img__sp {
    display: none;
  }
}
.visitor-explain-img__colm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.visitor-explain-img__title {
  padding-right: 6.1538461538vw;
  width: 16.4102564103vw;
}
@media screen and (min-width: 768px) {
  .visitor-explain-img__title {
    padding-right: 1.875vw;
    width: 5vw;
  }
}
.visitor-explain-img__pict {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: -48px;
}
.visitor-explain-img__pict-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: -48px;
}
.visitor-explain-img__contents {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 6.1538461538vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (min-width: 768px) {
  .visitor-explain-img__contents {
    padding-right: 24px;
    width: auto;
  }
}
.visitor-explain-img__contents-bottom {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 2.4051282051vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (min-width: 768px) {
  .visitor-explain-img__contents-bottom {
    padding-right: 1.015625vw;
    width: auto;
  }
}
.visitor-explain-img__icon {
  width: 28.2051282051vw;
}
@media screen and (min-width: 768px) {
  .visitor-explain-img__icon {
    width: 11.875vw;
  }
}
.visitor-explain-img__icon-bottom {
  width: 18.7179487179vw;
}
@media screen and (min-width: 768px) {
  .visitor-explain-img__icon-bottom {
    width: 7.8125vw;
  }
}
.visitor-explain-img__caption {
  color: #f00;
  font-family: a-otf-futo-go-b101-pr6n, "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  font-size: 12px;
  font-weight: normal;
  line-height: 1.8;
}
@media screen and (min-width: 768px) {
  .visitor-explain-img__caption {
    color: #f00;
    font-family: a-otf-futo-go-b101-pr6n, "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
    -webkit-font-feature-settings: "palt";
            font-feature-settings: "palt";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8;
    font-size: 16px;
  }
}

.js-nav__in {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: nav-slide;
          animation-name: nav-slide;
  display: block;
  left: 0;
  z-index: 90;
}

@-webkit-keyframes nav-slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes nav-slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
.js-fadein {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: header-fadein;
          animation-name: header-fadein;
  display: block;
}

@-webkit-keyframes header-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes header-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
.js-fadeout {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: header-fadeout;
          animation-name: header-fadeout;
}

@-webkit-keyframes header-fadeout {
  0% {
    display: block;
    opacity: 100;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes header-fadeout {
  0% {
    display: block;
    opacity: 100;
  }
  100% {
    display: none;
    opacity: 0;
  }
}