@use "../../config/import" as *;
@use "sass:math";

.note-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__unit {
    padding-bottom: $m-48;
    text-decoration: none;
    width: get-vw(152px, 390px);
    @include mq(tb) {
      padding-bottom: $m-64;
      width: get-vw(293px, 1280px);
    }
  }

  &__img {
    padding-bottom: 12px;
    width: get-vw(152px, 390px);
    @include mq(tb) {
      width: get-vw(293px, 1280px);
    }
  }

  &__title {
    margin: 0;
    padding-bottom: $m-16;
    width: get-vw(152px, 390px);
    @include text-style-body_red-sp;
    @include mq(tb) {
      @include text-style-body_red;

      padding-bottom: $m-24;
      width: get-vw(293px, 1280px);
    }
  }

  &__time {
    margin: 0;
    @include text-style-info;
  }

  &__read {
    align-items: center;
    display: flex;
    justify-content: center;

    img {
      height: 28px;
    }
  }
}
