@use "../../config/import" as *;
@use "sass:math";

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  @include mq(tb) {
    flex-direction: row;
  }

  &__hurt {
    display: none;
    filter: saturate(2);
    margin-top: -70px;
    mix-blend-mode: difference;
    width: 100%;

    @include mq(tb) {
      height: 100%;
      margin: 0;
    }
  }

  &__reserve {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: get-vw(30px, 390px);
    padding-top: 344px;

    @include mq(tb) {
      align-items: flex-start;
      bottom: 64px;
      padding: 0;
      position: absolute;
      right: get-vw(124px, 1280px);
    }
  }

  &__time {
    height: 25px;
    padding-right: 2px;
  }

  &__button {
    height: 69px;
    padding-right: 2px;
  }
}
