@use "../../config/import" as *;
@use "sass:math";

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  mix-blend-mode: difference;

  @include mq(tb) {
    flex-direction: row;
  }

  &__hurt {
    padding-top: 122px;
    width: 100%;

    @include mq(tb) {
      height: 100%;
      padding-top: 0;
    }
  }

  &__reserve {
    padding-left: get-vw(30px, 390px);
    padding-top: 72px;

    @include mq(tb) {
      bottom: 64px;
      padding: 0;
      position: absolute;
      right: get-vw(124px, 1280px);
    }

    img {
      height: 44px;
    }
  }
}
