<section class="archive-main">
  <img
    class="archive-main__title"
    src="assets/img/archive-main_title.svg"
    alt="来場の際の注意事項"
  />
  <p class="archive-main__text">
    本学科は今年度で5回目となる卒業制作展を行います。<br />
    ここでは統合デザイン学科卒業制作展の過去年度ホームページ、及び優秀作品の閲覧ができます。
  </p>
  <img class="archive-main__hurt" src="assets/img/hurt.svg" />
</section>
