<section class="staff">
  <div class="staff-contents">
    <img
      class="staff-contents__title"
      src="assets/img/caution-staff_title.svg"
      alt="会場、スタッフの感染対策"
    />
    <div class="staff-img__sp">
      <div class="staff-img__contents">
        <img
          class="staff-img__icon"
          src="assets/img/caution-staff_pict-01.gif"
          alt="展示室の換気"
        />
        <p class="staff-img__caption">展示室の換気</p>
      </div>
      <div class="staff-img__contents">
        <img
          class="staff-img__icon"
          src="assets/img/caution-staff_pict-02.gif"
          alt="マスクの着用"
        />
        <p class="staff-img__caption">マスクの着用</p>
      </div>
      <div class="staff-img__contents">
        <img
          class="staff-img__icon"
          src="assets/img/caution-staff_pict-03.gif"
          alt="検温"
        />
        <p class="staff-img__caption">検温</p>
      </div>
      <div class="staff-img__contents">
        <img
          class="staff-img__icon"
          src="assets/img/caution-staff_pict-04.gif"
          alt="自己管理"
        />
        <p class="staff-img__caption">自己管理</p>
      </div>
    </div>
    <div class="staff-contents__text">
      <p>混雑時の入場制限を実施します。</p>
      <p>会場内に手指消毒液を設置します。</p>
      <p>会場内は定期的な換気の実施します。</p>
      <p>スタッフはマスク着用を徹底します。</p>
      <p>
        スタッフは在廊時に検温を行い、手洗い、うがい、手指消毒などの自己管理を徹底します。
      </p>
    </div>
  </div>
  <div class="staff-img__pc">
    <div class="staff-img__contents">
      <img
        class="staff-img__icon"
        src="assets/img/caution-staff_pict-01.gif"
        alt="展示室の換気"
      />
      <p class="staff-img__caption">展示室の換気</p>
    </div>
    <div class="staff-img__contents">
      <img
        class="staff-img__icon"
        src="assets/img/caution-staff_pict-02.gif"
        alt="マスクの着用"
      />
      <p class="staff-img__caption">マスクの着用</p>
    </div>
    <div class="staff-img__contents">
      <img
        class="staff-img__icon"
        src="assets/img/caution-staff_pict-03.gif"
        alt="検温"
      />
      <p class="staff-img__caption">検温</p>
    </div>
    <div class="staff-img__contents">
      <img
        class="staff-img__icon"
        src="assets/img/caution-staff_pict-04.gif"
        alt="自己管理"
      />
      <p class="staff-img__caption">自己管理</p>
    </div>
  </div>
</section>
