<nav class="header-nav" id="js-nav">
  <div class="header-nav__links">
    <a class="header-nav__button" href="./index.html">
      <img src="assets/img/common/footer-top.svg" alt="トップ" />
    </a>
    <a class="header-nav__button" href="./archive.html">
      <img src="assets/img/common/footer-archive.svg" alt="アーカイブ" />
    </a>
    <a class="header-nav__button" href="./news.html">
      <img src="assets/img/common/footer-news.svg" alt="ニュース" />
    </a>
    <a class="header-nav__button" href="./sponsorship.html">
      <img src="assets/img/common/footer-sponsorship.svg" alt="協賛" />
    </a>
    <a class="header-nav__button" href="./caution.html">
      <img src="assets/img/common/footer-caution.svg" alt="来場時の注意事項" />
    </a>
  </div>

  <div class="header-nav__sns">
    <a
      class="header-nav__button"
      href="https://twitter.com/integrated_gw?s=20&t=M5hsY8ptON_Kqor3cQ3EaQ"
      target="_blank"
    >
      <img src="assets/img/common/footer-twitter.svg" alt="Twitter" />
    </a>
    <a
      class="header-nav__button"
      href="https://note.com/900000/"
      target="_blank"
    >
      <img src="assets/img/common/footer-note.svg" alt="note" />
    </a>
    <a
      class="header-nav__button"
      href="https://www.instagram.com/integrated_gw/"
      target="_blank"
    >
      <img src="assets/img/common/footer-instagram.svg" alt="Instagram" />
    </a>
  </div>

  <div class="header-nav__info">
    <img
      class="header-nav__title"
      src="assets/img/footer_text.svg"
      alt="多摩美術大学 統合デザイン学科の卒展 2023.1.18 水 - 22 日 9:00-17:00 上野毛キャンパス 入場無料 事前予約制"
    />
    <img class="header-nav__time" src="assets/img/footer_reserve-time.svg" />
    <a class="header-nav__reserve" href="#" target="_blank">
      <img src="assets/img/top-access_reserve.svg" alt="来場予約はこちらから" />
    </a>
  </div>
</nav>
