@use "../config/import" as *;
@use "sass:math";

.header {
  margin-left: 23px;
  margin-top: $m-32;
  mix-blend-mode: difference;
  position: fixed;
  z-index: 10;
  @include mq(tb) {
    margin-left: $m-32;
    width: min-content;
  }
}
