@use "../config/import" as *;
@use "sass:math";

.header-side {
  animation: loop-sp 15s 2s linear infinite;
  background-blend-mode: difference;
  background-image: url(../img/common/header-info_sp.svg);
  background-repeat: repeat-x;
  background-size: auto 100%;
  bottom: $m-16;
  height: 18px;
  mix-blend-mode: difference;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 10;

  @include mq(tb) {
    animation: loop 20s 2s linear infinite;
    background-image: url(../img/common/header-info.svg);
    background-repeat: repeat-y;
    filter: saturate(2);
    height: 100%;
    right: $m-24;
    top: 0;
    width: 18px;
  }
}

@include mq(tb) {
  @keyframes loop {
    from {
      background-position: 0 0;
    }

    to {
      background-position: 0 -100vh; /* 画像のマイナス幅 */
    }
  }
}

@keyframes loop-sp {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -100vw 0; /* 画像のマイナス幅 */
  }
}
