@use "../config/import" as *;
@use "sass:math";

.header {
  mix-blend-mode: difference;
  position: fixed;
  @include mq(tb) {
    margin-left: 32px;
    margin-top: $m-32;
    width: min-content;
  }
}

body {
  background-color: $color-white;
  margin: 0;
}
