@use "../config/import" as *;
@use "sass:math";

.header-pc {
  @include mq(tb) {
    display: block;
  }

  @include col(2, $m-48, ".header-pc__contents");

  display: none;

  &__contents {
    display: flex;
    flex-flow: column;
    margin-bottom: $m-64;
  }

  &__logo {
    &:hover {
      cursor: pointer;
    }

    @include text-style-body;

    padding-top: $m-16;
  }

  &__items {
    @include text-style-body;

    height: 30px;
    padding-right: $m-16;
    padding-top: $m-16;
    width: fit-content;

    img {
      height: 30px;
      width: min-content;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

body {
  background-color: $color-white;
}
