<div class="header-pc" id="js-header">
  <div class="header-pc__contents">
    <a class="header-pc__items" href="./index.html">
      <img src="assets/img/common/header-top.svg" alt="トップ" />
    </a>
    <a class="header-pc__items" href="./archive.html">
      <img src="assets/img/common/header-archive.svg" alt="アーカイブ" />
    </a>
    <a class="header-pc__items" href="./news.html">
      <img src="assets/img/common/header-news.svg" alt="ニュース" />
    </a>
    <a class="header-pc__items" href="./sponsorship.html">
      <img src="assets/img/common/header-sponsorship.svg" alt="協賛" />
    </a>
    <a class="header-pc__items" href="./caution.html">
      <img src="assets/img/common/header-caution.svg" alt="来場時の注意事項" />
    </a>
  </div>
  <div class="header-pc__contents">
    <a
      class="header-pc__items"
      href="https://twitter.com/integrated_gw?s=20&t=M5hsY8ptON_Kqor3cQ3EaQ"
      target="_blank"
    >
      <img src="assets/img/common/header-twitter.svg" alt="Twitter" />
    </a>
    <a class="header-pc__items" href="https://note.com/900000/" target="_blank">
      <img src="assets/img/common/header-note.svg" alt="note" />
    </a>
    <a
      class="header-pc__items"
      href="https://www.instagram.com/integrated_gw/"
      target="_blank"
    >
      <img src="assets/img/common/header-instagram.svg" alt="Instagram" />
    </a>
  </div>
</div>
