<div class="header-pc">
  <div class="header-pc__contents">
    <a class="header-pc__items" href="#">
      <img src="assets/img/common/header-top.svg" alt="トップ" />
    </a>
    <a class="header-pc__items">
      <img src="assets/img/common/header-archive.svg" alt="アーカイブ" />
    </a>
    <a class="header-pc__items">
      <img src="assets/img/common/header-news.svg" alt="ニュース" />
    </a>
    <a class="header-pc__items" href="./caution.html">
      <img src="assets/img/common/header-caution.svg" alt="来場時の注意事項" />
    </a>
  </div>
  <div class="header-pc__contents">
    <a
      class="header-pc__items"
      href="https://twitter.com/integrated_gw?s=20&t=M5hsY8ptON_Kqor3cQ3EaQ"
    >
      <img src="assets/img/common/header-twitter.svg" alt="Twitter" />
    </a>
    <a
      class="header-pc__items"
      href="https://line.me/R/ti/p/@960zaiis?oat__id=1569046"
    >
      <img src="assets/img/common/header-line.svg" alt="Line" />
    </a>
    <a class="header-pc__items" href="https://www.instagram.com/integrated_gw/">
      <img src="assets/img/common/header-instagram.svg" alt="Instagram" />
    </a>
  </div>
</div>
