<div class="header-pc">
  <div class="header-pc__contents">
    <p class="header-pc__logo">ロゴ</p>
  </div>
  <div class="header-pc__contents">
    <a class="header-pc__items">
      <p>about</p>
    </a>
    <a class="header-pc__items">
      <p>news</p>
    </a>
    <a class="header-pc__items">
      <p>reserve</p>
    </a>
    <a class="header-pc__items">
      <p>access</p>
    </a>
  </div>
</div>
