@use "../../config/import" as *;
@use "sass:math";

.caution-main {
  @include content-width;

  height: 100vh;
  @include mq(tb) {
    height: auto;
  }

  &__title {
    height: 112px;
    margin-top: $m-96;
    @include mq(tb) {
      margin-top: 44px;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mq(tb) {
      align-items: flex-end;
      flex-direction: row;
    }
  }

  &__text {
    padding-top: $m-48;
    width: 100%;
    @include mq(tb) {
      margin: 0;
      padding-top: 164px;
      width: get-vw(426px, 1280px);
    }
    @include text-style-body_red;
  }

  &__hurt {
    filter: saturate(2);
    margin-top: 58px;
    mix-blend-mode: difference;
    width: calc(108% - 36px);
    @include mq(tb) {
      margin-top: -112px;
      width: get-vw(416px, 1280px);
    }
  }
}
