@use "../../config/import" as *;
@use "sass:math";

.caution-main {
  @include content-width;

  height: 100vh;
  @include mq(tb) {
    height: auto;
  }

  &__title {
    filter: saturate(2);
    height: 112px;
    margin-top: $m-96;
    @include mq(tb) {
      margin-top: $m-48;
    }
  }

  &__text {
    @include mq(tb) {
      padding-top: 164px;
      width: get-vw(426px, 1280px);
    }
    @include text-style-body;

    filter: saturate(2);
    padding-top: $m-48;
    width: 100%;
  }

  &__hurt {
    filter: saturate(2);
    position: absolute;
    top: 430px;
    width: calc(100% - 36px);
    @include mq(tb) {
      right: get-vw(124px, 1280px);
      top: $m-48;
      width: get-vw(416px, 1280px);
    }
  }
}
