@use "../../config/import" as *;
@use "sass:math";

.news-main {
  background-color: $color-main;
  height: 100vh;
  @include mq(tb) {
    filter: saturate(2);
    padding-bottom: $m-80;
  }

  @include content-width;
  @include mq(tb) {
    height: auto;
  }

  &__title {
    height: 42px;
    margin-top: $m-96;
    @include mq(tb) {
      margin-top: $m-48;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mq(tb) {
      align-items: flex-end;
      flex-direction: row;
    }
  }

  &__text {
    padding-top: $m-48;
    width: 100%;
    @include text-style-body_white;
    @include mq(tb) {
      margin: 0;
      padding-top: 164px;
      width: get-vw(426px, 1280px);
    }
  }

  &__hurt {
    margin-top: 58px;
    width: calc(118% - 36px);
    @include mq(tb) {
      margin-top: -34px;
      width: get-vw(416px, 1280px);
    }
  }
}
