<section class="news-main">
  <img
    class="news-main__title"
    src="assets/img/news-main_title.svg"
    alt="ニュース"
  />
  <p class="news-main__text">
    本学科は今年度で5回目となる卒業制作展を行います。<br />
    ここでは統合デザイン学科卒業制作展の過去年度ホームページ、及び優秀作品の閲覧ができます。
  </p>
  <img class="news-main__hurt" src="assets/img/hurt.svg" />
</section>
