<section class="news-main">
  <img
    class="news-main__title"
    src="assets/img/news-main_title.svg"
    alt="ニュース"
  />
  <div class="news-main__col">
    <p class="news-main__text">
      ここでは、統合デザイン学科のことや学生などのことをよく知ることができる記事を閲覧することができます。
    </p>
    <img class="news-main__hurt" src="assets/img/common/heart-white.svg" />
  </div>
</section>
