<section class="note">
  <div class="note-contents">
    <a
      class="note-contents__unit"
      href="https://note.com/900000/n/nb057f3718560"
      target="_blank"
    >
      <img
        class="note-contents__img"
        src="https://assets.st-note.com/production/uploads/images/94710326/rectangle_large_type_2_5dd0b898de19647e667d16b64cec87b7.png"
      />
      <p class="note-contents__title">
        【多摩美】1月〜3月に開催されるデザイン系卒業制作展まとめ
      </p>
      <p class="note-contents__time">2023年1月7日 19:01</p>
    </a>
    <a
      class="note-contents__unit"
      href="https://note.com/900000/n/n737a96da6c1e"
      target="_blank"
    >
      <img
        class="note-contents__img"
        src="https://assets.st-note.com/production/uploads/images/74846980/rectangle_large_type_2_7d326d8760409b45b7baaac85dd73b35.jpg"
      />
      <p class="note-contents__title">
        統合デザイン学科卒業・修了制作展2022終了のご挨拶
      </p>
      <p class="note-contents__time">2022年3月23日 17:16</p>
    </a>
    <a
      class="note-contents__unit"
      href="https://note.com/900000/n/neb1e105e4899"
      target="_blank"
    >
      <img
        class="note-contents__img"
        src="https://assets.st-note.com/production/uploads/images/74373635/rectangle_large_type_2_e60be8b219e80d21f0081dc41b2601c9.jpg"
      />
      <p class="note-contents__title">
        【卒展2022 Making Process】 #10運営班座談会
      </p>
      <p class="note-contents__time">2022年3月17日 17:03</p>
    </a>
    <a
      class="note-contents__unit"
      href="https://note.com/900000/n/naf27aea43616"
      target="_blank"
    >
      <img
        class="note-contents__img"
        src="https://assets.st-note.com/production/uploads/images/73031820/rectangle_large_type_2_e595ae206471584840462741e4d65e41.jpg"
      />
      <p class="note-contents__title">
        【卒展2022 Making Process】 #09 SNS運用
      </p>
      <p class="note-contents__time">2022年3月6日 17:02</p>
    </a>

    <a
      class="note-contents__unit"
      href="https://note.com/900000/n/n13804ad9bbf7"
      target="_blank"
    >
      <img
        class="note-contents__img"
        src="https://assets.st-note.com/production/uploads/images/73031763/rectangle_large_type_2_b2b6bd3a7b01c8e673e2ea19dd78f523.jpg"
      />
      <p class="note-contents__title">
        【卒展2022 Making Process】 #08 特別対談
      </p>
      <p class="note-contents__time">2022年3月5日 17:12</p>
    </a>

    <!-- read more ... -->
    <a
      class="note-contents__unit note-contents__read"
      href="https://note.com/900000"
      target="_blank"
    >
      <img src="assets/img/news-note_read.svg" alt="read more..." />
    </a>
  </div>
</section>
