<div class="access-link">
  <a href="#" target="_blank">
    <img src="assets/img/top-access_reserve.svg" alt="来場予約はこちらから" />
  </a>
  <a href="./caution.html">
    <img src="assets/img/top-access_caution.svg" alt="注意事項を確認" />
  </a>
</div>
