<div class="access-info">
  <div class="access-info__event">
    <ul>
      <li>時間 :</li>
      <li>1.19 (水) - 22 (日)<br />11:00 - 19:00</li>
    </ul>
    <ul>
      <li>アドレス :</li>
      <li>158-8558<br />東京都世田谷区上野毛 3-15-34</li>
    </ul>
  </div>
  <div class="access-info__description">
    <p>東急大井町線「上野毛駅」下車、環状8号線沿い(瀬田方面)に徒歩3分。</p>
  </div>
</div>
