<div class="access-contents">
  <div class="access-contents__map">
    <img src="assets/img/top-access_map.png" alt="卒展会場の地図" />
  </div>
  <div class="access-contents__title">
    <img src="assets/img/top-access_title.svg" alt="アクセス" />
  </div>
</div>
