<div class="access-link">
  <a
    href="https://www.google.co.jp/maps/place/%E5%A4%9A%E6%91%A9%E7%BE%8E%E8%A1%93%E5%A4%A7%E5%AD%A6/@35.6141411,139.636664,17z/data=!4m12!1m6!3m5!1s0x6018f44244383b7d:0xfb53d5359cf8bf58!2z5aSa5pGp576O6KGT5aSn5a2m!8m2!3d35.611986!4d139.350497!3m4!1s0x6018f44244383b7d:0xfb53d5359cf8bf58!8m2!3d35.611986!4d139.350497"
    target="_blank"
  >
    <img src="assets/img/top-access_time.svg" alt="Google Mapで確認" />
  </a>
  <a href="./caution.html">
    <img src="assets/img/top-access_caution.svg" alt="注意事項を確認" />
  </a>
</div>
