<div class="access-info">
  <div class="access-info__contents">
    <div class="access-info__sp">
      <img src="assets/img/top-access_title.svg" alt="アクセス" />
    </div>
    <div class="access-info__event">
      <ul class="access-info__time">
        <li class="access-info__sub-title">時間 :</li>
        <li class="access-info__text">
          1.18（水） - 22（日）<br />9:00 - 17:00
        </li>
      </ul>
      <ul class="access-info__address">
        <li class="access-info__sub-title">アドレス :</li>
        <li class="access-info__text">
          158-8558<br />東京都世田谷区上野毛 3-15-34
        </li>
      </ul>
    </div>
  </div>
  <div class="access-info__description">
    <p>
      多摩美術大学上野毛キャンパス。<br />東急大井町線「上野毛駅」下車、環状8号線沿い（瀬田方面）に徒歩3分。
    </p>
  </div>
</div>
