<div class="top-description">
  <h1 class="top-description__section">Description</h1>
  <div class="top-description__contents">
    <h2 class="top-description__title">集うのは、世界を生み出す好奇心。</h2>
    <p class="top-description__body">
      世界の見え方には、 興味による偏りがあります。aa
      <br />
      貪欲な好奇心は、 私たちに気づきを与えてくれます。
      <br />
      かたちになったそれは、 私たちに新しい世界を見せてくれます。
    </p>
  </div>
</div>
